/* Color Palette from material.io: https://material.io/resources/color/#!/?view.left=0&view.right=1&secondary.color=153a49&primary.color=001a42
/* Golden Section Modular Scale: https://www.modularscale.com/?1&em&1.618 */
* {
  box-sizing: border-box;
}

html{
  line-height: 1.618em;
  font-family: 'Rubik', 'Segoe UI', 'Helvetica Neue', sans-serif;
  padding: 1.618em;
  background-color: #426475;
}

h1{
  line-height: 1.2em;
  padding: 2% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.618em;
  color:#FFFFFF;
  background-color: #00001d;
}

h2{
  padding: 2% 1%;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618em;
  line-height: 1.2em;
  color:#FFFFFF;
  background-color: #33406d;
}

body{
  width: 95%;
  margin: 0 auto;
  
}
#scary{
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.2em;
}
#scary2{
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
}

#bodyContain{
  width:80vw;
  text-align: center;
  margin: 0 auto;
  background-color:#001a42;
  padding-bottom: 2%;
}

#formIntro{
  margin: 1% 0;
  color: #FFFFFF;
  max-width: 85vw;
}

.hasjs #businessName{
  display:none;
}

.hasjs #phoneSection{
  display:none;
}

.hasjs #requestSection{
  display:none;
}

#thanksPage{
  display: none;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  line-height: 2em;
}

select{
  padding: 5px;
  color: #FFFFFF;
  background-color: #00001d;
  border-radius: 25px;
  text-align-last: center;
}

#typeSelection > .labelBox{
  padding-bottom: 1%;
}

.labelBox > label{
  color: #FFFFFF;
  line-height: 1.618em;
}

.inputBox > input{
  padding: 5px;
  color: #FFFFFF;
  background-color: #00001d;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
}

textarea{
  padding: 10px;
  color: #FFFFFF;
  background-color: #00001d;
  border-radius: 15px;
  width: 70%;
}

#submitContain{
  padding-top: 10px;
}
#newSubmitContain{
  padding-top: 10px;
}

#submitContain > input{
  padding: 5px;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #001521;
}

#newSubmitContain > button{
  padding: 5px;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #001521;
}

.labelBox{
  padding-top: 1.5%;
}

#thanksPage > h2{
  background-color:#001a42;
}

#thanksPage > h3{
  background-color:#001a42;
  font-size: 1.618em;
}
.inputBox{
  padding-top: 1%;
}

input[type=checkbox]{
  transform: scale(2.5);
}

/*Tablets*/
@media only screen and (min-width: 767px){
  h1{
    font-size: 4.236em;
  }

  h2{
    line-height: 1.2em;
    font-size: 2.618em;
  }

  #promo{
    line-height: 1.2em;
    font-size: 1em;
  }

  #formIntro{
    font-size: 1em;
    line-height: 1.2em;
  }

  .labelBox{
    max-width: 50%;
    order: 1;
    line-height: 1.2em;
    font-size: 1em;
  }

  .inputBox{
    order: 2;
    line-height: 1.2em;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 0;
    align-self: center;
  }

  .flexContain{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    padding: .5% 0;
  }

  .businessName{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  #typeSelection{
    order: 2;
  }

  #requestSection > .labelBox{
    margin: 0 auto;
  }

  input[type=checkbox]{
      transform: scale(2);
  }

  #submitContain > input{
    padding: 10px;
    line-height: 1.2em;
    font-size: 1.618em;
  }

  #newSubmitContain > button{
    padding: 10px;
    line-height: 1.2em;
    font-size: 1.618em;
  }
}

@media only screen and (min-width: 950px){
  html{
    padding-top: 0;
  }

  h2{
    padding: 1%;
  }

  #promo{
    line-height: 1.2em;
    font-size: 1em;
  }

  #formIntro{
    font-size: 1.618em;
    line-height: 1.2em;
  }

  #scary{
    padding: 10px 0;
  }

  .labelBox{
    max-width: 70%;
    order: 1;
    line-height: 1.2em;
    font-size: 1.2em;
    padding: 0;
  }

  .inputBox{
    order: 2;
    line-height: 1.2em;
    font-size: 1.2em;
    padding-left: 20px;
  }

  #submitContain{
    padding-top: 15px;
    line-height: 1.2em;
    font-size: 1.2em;
  }

  #newSubmitContain{
    padding-top: 15px;
    line-height: 1.2em;
    font-size: 1.2em;
  }
}
