/* Color Palette from Palletton - https://paletton.com/#uid=53y0v0kvQaHuT0FtG4+tSmXDgOu*/
* {
  box-sizing: border-box;
}
html{
  line-height: 1.2em;
  font-family: 'Rubik', sans-serif;
}
h1{
  line-height: 1.6em;
  padding: 1% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.0581em;
  color:#042037;
}
h2{
  padding: 1% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618em;
  color:#0f4776;
}
body{
  margin: 0 auto;
  width:95vw;
  height:95vh;
  background-color: #718ea4;
}
#bodyContain  {
  width:80vw;
  text-align: center;
}
#formIntro  {
  margin: 1% 0;
  color: #021b10;
  max-width: 85vw;
}