/* Color Palette from Palletton: https://paletton.com/#uid=53N0q0k5Lh8qOPW77Rujw79Ndbq
/* Golden Section Modular Scale: https://www.modularscale.com/?1&em&1.618 */
* {
  box-sizing: border-box;
}

html{
  line-height: 1.618em;
  font-family: 'Rubik', 'Segoe UI', 'Helvetica Neue', sans-serif;
  padding: 1.618em
}

h1{
  line-height: 1.2em;
  padding: 2% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.618em;
  color:#121726;
  
}

h2{
  padding: 2% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618em;
  line-height: 1.2em;
  color:#161f3a;
}

body{
  width: 95%;
  margin: 0 auto;
  background-color: #B9c5e6;
}
#scary  {
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.2em;
}
#scary2  {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
}

#bodyContain  {
  width:80vw;
  text-align: center;
  margin: 0 auto;
}

#formIntro  {
  margin: 1% 0;
  color: #121726;
  max-width: 85vw;
}

.hasjs #businessName {
  display:none;
}

.hasjs #phoneSection {
  display:none;
}

.hasjs #requestSection {
  display:none;
}
#thanksPage {
  display: none;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color:#161f3a;
  line-height: 2em;
}

select  {
  padding: 5px;
  color: #B2D8E2;
  background-color: #161f3a;
  border-radius: 25px;
  text-align: center;
}

#typeSelection > .labelBox  {
  padding-bottom: 1%;
}

.labelBox > label {
  color:#161f3a;
  line-height: 1.618em;
  font-weight: bold;
}

.inputBox > input {
  padding: 5px;
  color: #B2D8E2;
  background-color: #161f3a;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
}

textarea {
  padding: 10px;
  color: #B2D8E2;
  background-color: #161f3a;
  border-radius: 15px;
  width: 70%;
}

#submitContain  {
  padding-top: 10px;
}
#newSubmitContain  {
  padding-top: 10px;
}

#submitContain > input  {
  padding: 5px;
  border-radius: 25px;
  color:#B9C5E6;
  font-weight: bold;
  background-color: #0f1f23;
}

#newSubmitContain > button  {
  padding: 5px;
  border-radius: 25px;
  color:#B9C5E6;
  font-weight: bold;
  background-color: #0f1f23;
}

.labelBox{
  padding-top: 1.5%;
}

.inputBox {
  padding-top: 1%;
}

input[type=checkbox] {
  transform: scale(2.5);
}



/*Tablets*/
@media only screen and (min-device-width: 767px) {
  h1{
    font-size: 4.236em;
  }

  h2{
    line-height: 1.2em;
    font-size: 2.618em;
  }

  #promo  {
    line-height: 1.2em;
    font-size: 1em;
  }

  #formIntro  {
    font-size: 1em;
    line-height: 1.2em;
  }

  .labelBox{
    max-width: 50%;
    order: 1;
    line-height: 1.2em;
    font-size: 1em;
  }

  .inputBox{
    order: 2;
    line-height: 1.2em;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 0;
    align-self: center;
  }

  .flexContain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    padding: .5% 0;
  }

  .businessName {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  #typeSelection  {
    order: 2;
  }

  #requestSection > .labelBox {
    margin: 0 auto;
  }
  input[type=checkbox] {
      transform: scale(2);
  }

  #submitContain > input  {
    padding: 10px;
    line-height: 1.2em;
    font-size: 1.618em;
  }
  #newSubmitContain > button  {
    padding: 10px;
    line-height: 1.2em;
    font-size: 1.618em;
  }
}

@media only screen and (min-device-width: 950px) {
  html {
    padding-top: 0;
  }
  h2  {
    padding-top: 0;
  }
  #promo  {
    line-height: 1.2em;
    font-size: 1em;
  }

  #formIntro  {
    font-size: 1.618em;
    line-height: 1.2em;
  }

  #scary  {
    padding: 10px 0;
  }

  .labelBox{
    max-width: 70%;
    order: 1;
    line-height: 1.2em;
    font-size: 1.2em;
    padding: 0;
  }

  .inputBox{
    order: 2;
    line-height: 1.2em;
    font-size: 1.2em;
    padding-left: 20px;
  }

  #submitContain {
    padding-top: 15px;
    line-height: 1.2em;
    font-size: 1.2em;
  }
  #newSubmitContain {
    padding-top: 15px;
    line-height: 1.2em;
    font-size: 1.2em;
  }
}
