/* Color Palette from Palletton: https://paletton.com/#uid=53y0v0kvQaHuT0FtG4+tSmXDgOu*/
/* Golden Section Modular Scale: https://www.modularscale.com/?1&em&1.618 */
* {
  box-sizing: border-box;
}
html{
  line-height: 1.618em;
  font-family: 'Rubik', sans-serif;
  padding: 1.618em
}
h1{
  line-height: 1.2em;
  padding: 2% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.618em;
  color:#042037;
}
h2{
  padding: 2% 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618em;
  color:#0f4776;
}
body{
  margin: 0 auto;
  width:95vw;
  height:95vh;
  background-color: #718ea4;
}
strong  {
  font-weight: bold;
}
#bodyContain  {
  width:80vw;
  text-align: center;
  margin: 0 auto;
}
#formIntro  {
  margin: 1% 0;
  color: #021b10;
  max-width: 85vw;
}
#businessName {
  display:none;
}
#phoneSection {
  display:none;
}
#requestSection {
  display:none;
}
#submitContain {
  display:none;
}
#typeSelection  {
  padding: 2% 0;
}
select{
  padding: 5px;
  color: #718ea4;
  background-color: #042037;
  border-radius: 25px;
  text-align: center;
}
#typeSelection > .labelBox  {
  padding-bottom: 1%;
}
.labelBox > label {
  color: #042037;
  line-height: 1.618em;
  font-weight: bold;
}
.inputBox > input {
  padding: 5px;
  color: #718ea4;
  background-color: #042037;
  border-radius: 25px;
  text-align: center;
}

textarea {
  padding: 10px;
  color: #718ea4;
  background-color: #042037;
  border-radius: 15px;
}
#submitContain  {
  padding-top: 10px;
}
#submitContain > input  {
  padding: 5px;
  border-radius: 25px;
  color:#718ea4;
  font-weight: bold;
  background-color: #042037;;
}
.labelBox{
  padding-top: 1.5%;
}
.inputBox {
  padding-top: 1%;
}
input[type=checkbox] {
  transform: scale(2.5);
}
/*Tablets*/
@media only screen and (min-device-width: 885px) {
  h1{
    font-size: 4.236em;
  }

  h2{
    line-height: 1.2em;
    font-size: 2.618em;
  }
  #formIntro  {
    font-size: 1.618em;
    line-height: 1.2em;
  }
  .labelBox{
    padding: 2% ;
    order: 1;
    line-height: 1.2em;
    font-size: 1.618em;
  }
  .inputBox{
    order: 2;
    line-height: 1.2em;
    font-size: 1.618em;
  }
  .flexContain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
  }
  .businessName {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  #typeSelection  {
    order: 2;
  }
  input[type=checkbox] {
      transform: scale(2);
  }
  #submitContain > input  {
    padding: 10px;
    line-height: 1.2em;
    font-size: 1.618em;
  }
}